*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 18px;
}

article:nth-child(even) {
  background-color: #f5f5f5;
}

article h1 {
  font-size: 2rem;
}
